:root {
  --serif-font: "Domine", serif;
  --sans-font: "Lato", sans-serif;

  --purple: #503062;
  --white: #ededed;
  --grey: #333333;
  --grey-90-translucent: rgba(51, 51, 51, 0.9);
  --grey-75-translucent: rgba(51, 51, 51, 0.75);
  --grey-50-translucent: rgba(51, 51, 51, 0.5);

  --big-font: 45px;
  --medium-big-font: 40px;
  --medium-font: 35px;
  --medium-small-font: 30px;
  --small-font: 25px;
  --p-font: 16px;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: var(--serif-font);
  color: var(--white);
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: normal;
  text-align: center;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  text-align: center;
  font-weight: normal;
}





body {
  background-color: var(--purple);
}

a {
  display: block;
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-family: var(--sans-font);
  font-size: var(--medium-big-font);
  font-weight: normal;
  text-align: center;
}

p {
  font-size: var(--p-font);
}




.centered-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main-container {
  /* background-image: url("images/profile\ pic.jpg"); */
  
  background-size: cover;

  justify-content: flex-start;
}


.main {
  background-color: var(--grey-50-translucent);
  justify-content: flex-start;

  height: 100%;
  width: 100%;
}

.main-header {
  /* background-color: var(--grey-90-translucent); */
  background-image: url("images/profile\ pic.jpg");
  background-position: center;
  background-size: cover;

  min-height: 650px;

  justify-content: flex-end;
  width: 100%;
}

.header-text-container {
  background-color: var(--grey-90-translucent);
  padding: 5px 0 35px;
  width: 100%;
}

.main-header h1 {
  padding-bottom: 25px;
}



.links-container {
  background-color: var(--grey);
  margin-top: 100px;
  padding: 25px 0;
  width: 100%;
}

.links-header {
  margin-bottom: 25px;
}

.links li a {
  background-color: var(--purple);
  border-radius: 15px;
  display: block;
  font-size: var(--medium-small-font);
  margin: 0 0 25px 0;
  padding: 10px 20px;
  transition: 600ms;

  -webkit-box-shadow: 1px 1px 2px 2px var(--white);
  box-shadow: 1px 1px 2px 2px var(--white);
}

.links li a:hover {
  background-color: var(--white);
  box-shadow: 1px 1px 2px 5px var(--purple);
  color: var(--purple);
}

.links li a img {
  height: 50px;
}


.about-container {
  padding: 0 25px;
  margin: 100px 0 150px;
  width: 100%;
}

.about-container h1 {
  text-decoration: underline;
  margin-bottom: 25px;
}

.about-container p {
  margin-bottom: 25px;
}

.email-link {
  background-color: var(--grey);
  margin-top: 10px;
  padding: 15px 5px;
  text-align: center;
  width: 100%;

  transition: 600ms;

  -webkit-box-shadow: 1px 1px 2px 2px var(--white);
  box-shadow: 1px 1px 2px 2px var(--white);
}

.email-link:hover {
  background-color: var(--white);
  box-shadow: 1px 1px 2px 5px var(--grey);
  color: var(--purple);
}





@media screen and (min-width: 600px) {
  .main-header {
    background-image: url("images/profile\ pic\ borders\ grey\ 4x3.jpg");
    min-height: 600px;
  }

  .links {
    column-gap: 25px;
    row-gap: 25px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 650px;
    width: 100%;
  }

  .about-container {
    max-width: 650px;
  }
}


@media screen and (min-width: 1024px) {
  .main-header {
    
  }

  .header-text-container {
  }
}